<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Join Our Team</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>

<div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/img_at.JPG" alt="our_team">
          </div>
          <h3>Yash Patil</h3>
          <span>19070122123</span>
        </div>

        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_ka.jpg" alt="our_team"> 
            </div>
            <h3>Yogeshwar Pawade</h3>
            <span>19070124050</span>
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_ku.jpeg" alt="our_team"> 
            </div>
            <h3>Prasanna Jain</h3>
            <span>19070122128</span>
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_av.jpeg" alt="our_team">
            </div>
            <h3>Abhijeet Goel</h3>
            <span>19070122004</span>
        </div>


       
    </div>
</div>	

</body>
</html>